.console-output {
    padding: 1em;
    background-color: #101421;
    color: white;
    font-family: "SF Mono Light", monospace;
}

.console-output pre {
    font-family: "SF Mono Light", monospace;
}

.console-output a:link {
    color: #b088ff;
}

.console-output a:visited {
    color: #8888ff;
}
